.body{
    background-color: aqua;

}
.nav{
    background-color: gainsboro;
    border-radius: 5%;
    color: white;
    width: 100%;
    top: 0;
    z-index:1;


}
nav .container{
    justify-content: space-around;
    align-items: center;
    display: flex;
    border-radius: 10%;
}
.h2{
    color: black;
}
nav ul{
    display: flex;
    gap: 30px;
    list-style: none;
    
    margin: 0%;
    padding: -5%;
   
}