body {
            font-family: Arial, sans-serif;
            background-color: #f2f6ff;
            display: flex;
            justify-content: center;
            margin-top: 40px;
        }

        .container {
            background: white;
            padding: 25px 35px;
            border-radius: 12px;
            box-shadow: 0 6px 15px rgba(0,0,0,0.15);
            text-align: center;
            background-color: grey;
        }

        h2 {
            margin-bottom: 15px;
        }

        input {
            padding: 8px;
            width: 130px;
            font-size: 16px;
            margin-bottom: 20px;
        }

        .boxes {
            display: grid;
            grid-template-columns: repeat(2, 100px);
            gap: 15px;
            justify-content: center;
            margin-bottom: 20px;
            
        }

        .boxes div {
            width: 100px;
            height: 100px;
            border-radius: 10px;
            border: 2px solid #333;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            font-weight: bold;
            background-color: #e9edff;
            cursor: pointer;
            transition: 0.3s;
            background-color: rgb(195, 179, 179);
        }

        .boxes div:hover {
            background-color: #cdd8ff;
            transform: scale(1.05);
        }

        #result {
            font-size: 22px;
            font-weight: bold;
            color: black;
        }