.header{
    background-color: grey;
    width: 100%;
    height: 45px;
    text-align:center;
}
.container{
    background-color: red;
    width: 15%;
    /* margin-left: 200px; */
    border-radius: 5px;

}
.sider{
    background-color: blue;
    width: 20%;
}
/* .bdy{
    background-color:aqua;
} */
*{
    margin: 0%;
    padding:0%;
}
.card{
    background-color: green;
    width:25%;
    border-radius: 10px;
    padding: 10px;
    margin: 200px;



}
.login{
background-color:sandybrown;
border-radius:5px;
margin-top: 10px;
margin-left: 80%;


}
.logpg{
    text-align: center;
    margin-bottom: 10px;
    color:blanchedalmond;

}