.body{
    background-color: rgb(82, 14, 145);
    text-align: center;
}
.h2{
    text-align: center;
    color: black;
    border: 2px solid rgb(63, 11, 112);
    border-radius: 10px;
    /* margin-bottom: 20%; */
    width: 50%;
    margin-left: 25%;
    background-color: rgb(182, 135, 226);
    text-shadow: 3px 3px 6px white;
}
.container{
    border: 4px solid rgb(169, 110, 223);
    text-align: center;
    height: 700px;
    width: 500px;
    margin-left: 300px;
    margin-top: 50px;
    border-radius: 10px;
    background-color: rgb(105, 42, 163);
    
}
.box{
    border-radius: 20px; 
    margin-top:50%;
    margin-bottom: 20%;
     
}
.box-b{
    background-color: rgb(167, 103, 226);
    border-radius: 5px;
    border-color: 5px solid rgb(61, 8, 110);
    font-size:25px;
    text-shadow: 3px 3px 6px rgb(173, 155, 187);
    

    
}
.box-c{
    background-color: rgb(62, 21, 100);
     border-color: 5px solid rgb(61, 8, 110);
     border-radius: 5px;
     text-align: center;
     border-color: rgb(44, 19, 67);
     height: 25px;
     /* text-shadow: 3px 3px 6px black; */
     

}
.bal{
    
    margin-bottom: 70px;
    margin-left: 170px;
    border-radius: 10px;
    border-color: 2px solid rgb(36, 5, 64);
    text-shadow: 3px 3px 6px rgb(161, 153, 153);



}
.flex-box{
    display: flex;
    text-align: center;
    gap: 50px;
    margin-left:55px;
    
}
.btn{
    background-color: rgb(156, 83, 225);
    border-radius: 10px;
    height: 50px;
    width: 100px;
    text-shadow: 3px 3px 6px rgb(206, 182, 213);
    font-size: 17px;
}
.bot{
    text-align: center;
    margin-top: 100px;
    font-size: 100px;
}
button:hover {
    background: blueviolet;
}