
.body {
  background-color: #f7efe5;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
   background: linear-gradient(100deg,rgb(175, 175, 221),skyblue);
   border-radius: 10px;
}

.container {
  background-color: #ffffff;
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  background: linear-gradient(100deg,rgb(52, 52, 215),skyblue);
}

.h3 {
  background-color: #4dabf7;
  color: white;
  width: 220px;
  margin: 30px auto 10px;
  padding: 8px;
  border-radius: 20px;
}
label {
  margin: 0 10px;
  font-weight: bold;
}

input,
select {
  padding: 6px 10px;
  margin: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  padding: 6px 14px;
  border-radius: 20px;
  border: none;
  background-color: #339af0;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #1c7ed6;
}


table {
  width: 80%;
  max-width: 900px;
  margin: 15px auto;
  border-collapse: collapse;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}


th,
td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
   background: linear-gradient(100deg,rgb(52, 52, 213),skyblue);
}


th {
  background-color: #dee2e6;
}


tbody tr:hover {
  background-color: #f1f3f5;
}
